html,
body {
    background: #011627;
}

.container {
    margin-top: 17%;
    display: flex;
    justify-content: center;
}

h2 {
    font-family: "Roboto Condensed";
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.2em;
    line-height: 1.2em;
    width: auto;
    height: 30px;
    color: azure;
}